:root {
  --body_background: white;
  --body_color: black;
  /* --link_color: navy; */
  
}
[data-theme="dark"]{
   --body_background: black;
  --body_color: white;
  /* --link_color: cyan; */
}
body {
  background-color: var(--body_background);
  color: var(--body_color);
}
/* * {
  color: var(--body_color);
  background-color: var(--body_background);
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin 'daisyui'{
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: orange;
  --color-base-300: #f4f4f4;
}
*{
   font-family: "Roboto", sans-serif;
}


h1{
 @apply text-2xl md:text-4xl font-bold;
}

h2{
  @apply text-xl md:text-2xl font-bold;
}
h3{
  @apply text-lg md:text-xl font-semibold;
}
h4{
  @apply text-lg font-semibold;
}
h5{
  @apply font-semibold;
}

.active{
  @apply text-primary  underline
}

.mySwiper {
width:100%;
padding-top:50px;
padding-bottom: 50px;
}
.mySwiper .swiper-slide {
background-position: center;
background-size: cover;
width: 300px;
height: 300px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}